{
  "presets": [
    "react",
    "flow",
    ["env", {
      "targets": {
        "browsers": ["Chrome >= 60", "Safari >= 10.1", "iOS >= 10.3", "Firefox >= 54", "Edge >= 15"]
      },
      "modules": false,
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        "react",
        "flow",
        ["env", {
          "modules": "commonjs"
        }]
      ],
      "plugins": [
        "react-hot-loader/babel",
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    }
  }
}
