body {
  height: 100%;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #54a3d0;
}

.login-page__grid {
  width: 100%;
  box-sizing: border-box;
}

.login-card {
  width: 100%;
}

.login-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(0,0,0,.1);
}

.login-card__title {
  height: 146px;
  background: url('/login/assets/images/logo.png') center / contain no-repeat;
}
