.oauth-layout {
  background: url('/oauth/assets/images/login-bg.svg') center / cover no-repeat;
}

.oauth-container {
  padding: 1rem;
}

@keyframes fadeIn {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.oauth-card {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  animation: fadeIn .8s;
}

.oauth-card__title {
  padding: 30px;
  height: 146px;
  background: url('/oauth/assets/images/banner.jpg') center / cover no-repeat;
}

.oauth-card__title-image {
  width: 100%;
  height: 100%;
  background: url('/oauth/assets/images/logo-lv-white.svg') center / contain no-repeat;
}

.oauth-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(0,0,0,.1);
}

.oauth-card__body input:-webkit-autofill,
.oauth-card__body input:-webkit-autofill:hover,
.oauth-card__body input:-webkit-autofill:focus,
.oauth-card__body input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.oauth-already-granted {
  opacity: 0.5;
}

.oauth-header-name {
  text-transform: capitalize;
  padding-right: 10px;
}

.oauth-header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.oauth-login-btn,
.oauth-login-btn--with-avatar {
  display: flex;
  margin: 5px auto;
}

.oauth-login-btn--with-avatar {
  padding-right: 0;
}

.oauth-login-btn--with-avatar img {
  display: block;
  margin-left: 1rem;
  width: 36px;
  height: 36px;
}

@media (min-width: 1000px) {
  .oauth-card {
    margin-top: 100px;
  }

  .oauth-card__title {
    height: 300px;
    padding: 30px 80px;
  }
}
