.oauth-container {
  padding: 1rem;
}

.oauth-already-granted {
  opacity: 0.5;
}

.oauth-header-name {
  text-transform: capitalize;
  padding-right: 10px;
}

.oauth-header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.oauth-login-btn,
.oauth-login-btn--with-avatar {
  display: flex;
  margin: 5px;
}

.oauth-login-btn--with-avatar {
  padding-right: 0;
}

.oauth-login-btn--with-avatar img {
  display: block;
  margin-left: 1rem;
  width: 36px;
  height: 36px;
}
