<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>Dashboard</h3>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <p>Hello {{user.firstName}}</p>
  </div>
</div>
